table.order-table {
  margin: 0.5rem;
  text-align: center;
  background: rgba(80, 80, 80, 0.7);
  border-radius: 1rem;
}

th.order-table-column-name {
  width: 25vw;
}

.pending {
  color: #ffa73c;
}

tr.order-bottom-row > td {
  padding: 0 0 1rem 0;
}