table.position-table {
  margin: 0.5rem;
  text-align: center;
  background: rgba(80, 80, 80, 0.7);
  border-radius: 1rem;
}

th.position-table-column-name {
  width: 20vw;
}

tr > th {
  padding: 0.5rem 0;
}

tr.position-bottom-row > td {
  padding: 0 0 1rem 0.5rem;
}

.no-center {
  text-align: left;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
