.userInfo-button {
  --padding-start: 1rem;
  --padding-end: 1rem;
}

.userBadge {
  line-height: 1rem;
  padding: 0rem 0.5rem 0rem 0.2rem;
  height: 1.4rem;
}

.userBadge ion-icon {
  margin-right: 0.1rem;
  padding: 3px;
  border-radius: 100%;
  font-size: 0.8rem;
  background-color: var(--ion-color-primary);
}
