.segment-container {
  display: flex;
  justify-content: center;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.basic-info-row-1 {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.stock-symbol {
  font-size: 1rem;
  color: white;
}

.stock-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffa73c;
}

.status {
  font-size: 0.9rem;
}

.detail-info-row-large {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.detail-info-row {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  margin: 0 1rem;
  column-gap: 0.5rem;
}

.column-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.detail-info-row-price {
  display: flex;
  column-gap: 1rem;
  font-size: 0.8rem;
  margin: 0 1rem;
}

.value {
  color: white;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.detail-info-column {
  font-size: 14px;
}

@media screen and (orientation: portrait) {
  .stock-info-section {
    display: block;
  }

  .segment-tab {
    display: flex;
  }

  ion-header {
    display: flex;
  }
}

@media screen and (orientation: landscape) {
  .stock-info-section {
    display: none;
  }

  .segment-tab {
    display: none;
  }

  ion-header {
    display: none;
  }
}
