body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 31, 35);
}

h1 {
  text-align: center;
}

.sorting-row {
  display: flex;
}

.sorting-area {
  display: flex;
  flex-direction: column;
}

.stock-row {
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  margin: 0.5rem;
  height: 4rem;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.stock-row-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.stock-row-name {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.stock-row-symbol {
  font-size: 0.8rem;
}

.stock-row-right {
  display: flex;
  width: 60%;
  align-items: center;
  font-size: 1.2rem;
}

.stock-row-right > div {
  flex-grow: 1;
  text-align: center;
}

.stock-graph {
  width: 15vw;
  height: 100%;
}

.stock-other {
  border-radius: 0.5rem;
}

.stock-other > div {
  height: 2rem;
  font-size: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-other.negative {
  background-color: #F03E3C;
  color:#fff;
}

.stock-other.positive {
  background-color: #36A843;
  color:#fff;
}

.stock-price {
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
