.progress-order-row-container {
  display: flex;
}

.progress-order-first-column,
.progress-order-second-column,
.progress-order-third-column,
.progress-order-fourth-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.progress-order-second-column,
.progress-order-third-column,
.progress-order-fourth-column {
  margin-left: 2rem;
}
