.position-row-container {
  display: flex;
}

.position-row-right-container {
  display: flex;
  overflow-x: scroll;
}
.position-first-column,
.position-second-column,
.position-third-column,
.position-fourth-column,
.position-fifth-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.position-second-column,
.position-third-column,
.position-fourth-column,
.position-fifth-column {
  margin-left: 2rem;
}

/* .position-top-row,
.position-bottom-row {
  display: flex;
}

.position-row-left-container {
  margin-right: 2rem;
}

.position-row-right-container {
  overflow-x: scroll;
}

.position-row-right-container > span {
  margin-left: 1rem;
} */
