.position-module-container {
  background: rgba(80, 80, 80, 0.7);
  border-radius: 1rem;
  padding: 0.5rem;
}

.column-name-row {
  color: gray;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  display: flex;
}

.left-column-name {
  margin-right: 2rem;
}

.right-column-names {
  overflow-x: scroll;
}

.column-name {
  margin: 0 1rem;
}

.no-position {
  text-align: center;
}
